/.metadata/
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

pom.xml.tag
pom.xml.releaseBackup
.factorypath
.classpath
.project
.settings
.springBeans
.idea
*.iws
*.iml
*.ipr
*.log
*.class
.cproject
Release/
Debug/
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
.vscode
bin/
out/
build/
/.recommenders/
transtion-logs/
.txlcn